@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@

@model IEnumerable<Dania>
@{
    TempData["czas"] = ViewData["id"].ToString();

}
<label for="Date">Data</label>
<input disabled type="text" name="czas" value="@ViewData["id"]">
@foreach (var danie in Model)
{

    <form method="post" asp-controller="UserMeals" asp-action="AddExistingMealPost">
    <fieldset>
            <legend>@danie.NazwaDania</legend>
    @foreach (var jadlo in danie?.DaniaProdukty)
    {
        
      


       
           
                    <input style="display:none" disabled type="text" name="czas" value="@ViewData["id"].ToString()">
                @* <td>@jadlo.Dania.NazwaDania</td>*@
                <span>@jadlo.Produkty.Nazwa</span>
                <span>@jadlo.Produkty.Kaloryczność</span>
                <br>
        
                <!-- Dodaj wartości dla innych kolumn -->
           
            
        
          

        <input style="display:none" name="danie" value="@jadlo.Dania.Id">
    }
                <button type="submit" >Wybierz</button>
</fieldset>
    </form>
}