@model IEnumerable<Konto>
@{
    float? kcal = 0;
    float? kcalProdukt = 0;
    DateOnly date;
    DateOnly.TryParse(@ViewData["Date"]?.ToString(), out date);
    string str = date.ToString();
    TempData["Date"] = ViewData["Date"].ToString();
}
<table>
    <thead>
        <tr>
   
            <th>Nazwa produktu</th>
            <th>Kaloryczność</th>
            <th>ilość skłankia</th>
            <!-- Dodaj inne kolumny, jeśli są wymagane -->
        </tr>
    </thead>
    <tbody>
        @foreach (var konto in Model)
        {
            @foreach (var jadlo in konto?.Jadlospisy)
            {
                <tr><td>@jadlo.Dania.NazwaDania</td>
                    <td><a asp-controller="UserMeals" asp-action="DeleteDayMeal" asp-route-id="@jadlo.Dania.Id">usuń</a></td>
                </tr>

                
                @foreach (var dapro in jadlo?.Dania?.DaniaProdukty)
                {
                    
                    <tr>
                       @* <td>@jadlo.Dania.NazwaDania</td>*@
                        <td>@dapro.Produkty.Nazwa</td>
                        <td>@{
                                kcalProdukt=
                                dapro.Ilość*
                                dapro.Produkty.Kaloryczność;
                            }
                            @kcalProdukt
                        </td>
                        <td>@dapro.Ilość</td>
                        <!-- Dodaj wartości dla innych kolumn -->
                        @{
                            kcal += kcalProdukt;
                        }
                    </tr>
                }
            }
        }
    </tbody>
</table>
<p> ilość dzisiejszych kalori: @kcal</p>
  
    <div>
 
                <p name="dzien">@ViewData["Date"]</p>
            <form method="post" asp-controller="Date" asp-action="poprzedni">
                <input style="display:none" type="text" name="czas" value="@ViewData["Date"]">
                <button type="submit">poprzedni</button>
        
                </form>
            @if (@date != DateOnly.FromDateTime(DateTime.Now))
                {
                <form method="post" asp-controller="Date" asp-action="nastepny">
                    <input style="display:none" type="text" name="czas" value="@ViewData["Date"]">

                    <button type="submit">nastepny</button>
                </form>
                }
    
    </div>

<a asp-controller="Meals" asp-action="MyMeals">zobacz wszytkie włąsne posiłki</a>
<a asp-controller="UserMeals" asp-action="AddExistingMeal" asp-route-id="@date.ToString()">Dodaj brakujący posiłek</a>