@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ModelCalosci
@{

  <p>@Model.Konto.Nazwa</p>
  <table>
    <thead>
        <tr>
            <th>Nazwa produktu</th>
            <th>Kaloryczność</th>
            <th>Białko</th>
            <th>Tłuszcz</th>
            <th>Węglowodany</th>
            <th>Błonnik</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>@Html.DisplayFor(item => item.Dania.NazwaDania)</td>
                <td>@Html.DisplayFor(item => item.Produkt.Kaloryczność)</td>
                <td>@Html.DisplayFor(item => item.Produkt.Białko)</td>
                <td>@Html.DisplayFor(item =>  item.Produkt.Tłuszcz)</td>
                <td>@Html.DisplayFor(item => item.Produkt.Węglowodany)</td>
                <td>@Html.DisplayFor(item =>  item.Produkt.Błonnik)</td>
            </tr>
</tbody>
</table>

}
