@model projekt.ViewModels.DanieViewModel


@{
    ViewData["Title"] = "Create";

}


<div class="card">
    <div class="card-header bg-success text-uppercase text-white text-center mb-2 pt-0" style="height:25px;">
        <h6>Utwórz danie</h6>
    </div>


    <form id="Create-Meal" asp-action="Create">


        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <label asp-for="NazwaDania" class="control-label">Nazwa Dania</label>

        <input asp-for="NazwaDania" class="form-control" />




        <div class="edit-table">
            <table id="TabelaGlowna" class="table table-borderless table-sm mb-0 pb-0">
                <thead>
                    <tr>
                        <th>
                            Nazwa
                        </th>
                        <th>
                            Ilość[g/ml]
                        </th>
                        <th>
                            Kaloryczność
                        </th>
                        <th>
                            Białko
                        </th>
                        <th>
                            Tłuszcz
                        </th>
                        <th>
                            Węglowodany
                        </th>
                        <th>
                            Błonnik
                        </th>
                        <th style="width:60px;">
                            <button id='btnAddDetailRow' type="button" class="btn btn-sm btn-secondary visible" onclick="AddItem(this)">
                                Add
                            </button>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @for (int i = 0; i < Model.Produkty.Count(); i++)
                    {
                        <tr>
                            <td style="width:20%!important">
								    @*<input asp-for="@Model.PoDetails[i].ProductCode" class="form-control" />*@
                                <select asp-for="@Model.Produkty[i].Nazwa" class="form-control" asp-items="ViewBag.ProduktyLista" onchange="FillValues(this);"></select>
                            </td>
                            <td class="wlasciwosclisty">
                                <input asp-for="@Model.Ilosc[i]" class="form-control ilosc_class do_zmiany" onchange="Calculate(this)" value="100" />
                                <span asp-validation-for="@Model.Ilosc[i]" class="text-danger"></span>
                            </td>
                            <td class="wlasciwosclisty">
                                <input asp-for="@Model.Produkty[i].Kaloryczność" class="form-control" readonly />

                            </td>
                            <td class="wlasciwosclisty">
                                <input asp-for="@Model.Produkty[i].Białko" class="form-control" readonly />

                            </td>
                            <td class="wlasciwosclisty">
                                <input asp-for="@Model.Produkty[i].Tłuszcz" class="form-control" readonly />

                            </td>
                            <td class="wlasciwosclisty">
                                <input asp-for="@Model.Produkty[i].Węglowodany" class="form-control" readonly />
                            </td>
                            <td class="wlasciwosclisty">
                                <input asp-for="@Model.Produkty[i].Błonnik" class="form-control" readonly />
                                <input type="hidden" asp-for="@Model.Produkty[i].IsDeleted" />
                            </td>
                            <td style="width:60px;">
                                <button id='btnremove-@i' type="button" class="btn btn-sm btn-danger visible" onclick="DeleteItem(this)">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    }

                    <tr>
                        <th style="width:20%">
                            Suma
                        </th>

                        <th class="wlasciwosclisty">
                            <input type="text" id="ilosc_total" class="form-control form-control-plaintext " value="" />
                        </th>

                        <th class="wlasciwosclisty">
                            <input type="text" id="kalorycznosc_total" class="form-control form-control-plaintext" value="" />
                        </th>

                        <th class="wlasciwosclisty">
                            <input type="text" id="bialko_total" class="form-control form-control-plaintext" value="" />
                        </th>

                                 <th style="width:13%;">	
                                     <input type="text" id="tluszcz_total" class="form-control form-control-plaintext" value="" />
                                 </th>                  
                                
                                 <th style="width:13%;">	
                                     <input type="text" id="weglo_total" class="form-control form-control-plaintext" value="" />
                                 </th>					

                                 <th style="width:13%;">									
                                    <input type="text" id="blonnik_total" class="form-control form-control-plaintext" value="" />
                                 </th>					
                                
                                 <th style="width:9%;">                                      
                                 </th>
                            </tr>
 
                            </thead>
                        </table>
                    

				</div>





        <div class="form-group btn-group col-12">
            <div class="col-1"></div>
            <div class="col-5">
                <input type="submit" asp-action="Create" value="Create" class="btn btn-primary btn-block" />
            </div>
            <div class="col-5">
                <a class="btn btn-secondary btn-block" asp-action="MyMeals"
                   asp-route-pg="@TempData.Peek("CurrentPage")">Back</a>
            </div>
            <div class="col-1"></div>
        </div>



    </form>

</div>
@section Scripts {
    <script>

        var myArray = JSON.parse('@Json.Serialize(ViewBag.ProduktyLista)');
        var kalorycznoscArray = JSON.parse('@Json.Serialize(ViewBag.Kalorycznosc)');
        var bialkoArray = JSON.parse('@Json.Serialize(ViewBag.Bialko)');
        var tluszczArray = JSON.parse('@Json.Serialize(ViewBag.Tluszcz)');
        var wegloArray = JSON.parse('@Json.Serialize(ViewBag.Weglowodany)');
        var blonnikArray = JSON.parse('@Json.Serialize(ViewBag.Blonnik)');

        function FillValues(item) {
            
            const regex = /\d+/;
            const match = item.id.match(regex);
            var number = 100;
            if (match) {
                number = parseInt(match[0]);
            } else {
            }

        var id_kalorycznosc = "Produkty_"+number+"__Kaloryczno__";
        var id_bialko = "Produkty_"+number+"__Bia_ko";
        var id_tluszcz = "Produkty_"+number+"__T_uszcz";
        var id_weglo = "Produkty_"+number+"__W_glowodany";
        var id_blonnik = "Produkty_"+number+"__B_onnik";

            var kalorycznosc = kalorycznoscArray.find(function (element) {
                return element.id == item.value;
            });

            var bialko = bialkoArray.find(function (element) {
                return element.id == item.value;
            });

            var tluszcz = tluszczArray.find(function (element) {
                return element.id == item.value;
            });

            var weglo = wegloArray.find(function (element) {
                return element.id == item.value;
            });
            var blonnik = blonnikArray.find(function (element) {
                return element.id == item.value;
            });

        document.getElementById(id_kalorycznosc).value=kalorycznosc.kaloryczność;
        document.getElementById(id_bialko).value=bialko.bialko;
        document.getElementById(id_tluszcz).value=tluszcz.tluszcz;
        document.getElementById(id_weglo).value=weglo.weglowodany;
        document.getElementById(id_blonnik).value=blonnik.blonnik;    
        return 
      }

      function Calculate(item){
        
        const regex = /\d+/;
        const match = item.id.match(regex);
        var number = 100;
        if (match) {
          number = parseInt(match[0]);     
        } else {         
        }
        var item2 = document.getElementById("Produkty_"+number+"__Nazwa")
        FillValues(item2)
        var id_ilosc = "Ilosc_"+number+"_"
        var id_kalorycznosc = "Produkty_"+number+"__Kaloryczno__";
        var id_bialko = "Produkty_"+number+"__Bia_ko";
        var id_tluszcz = "Produkty_"+number+"__T_uszcz";
        var id_weglo = "Produkty_"+number+"__W_glowodany";
        var id_blonnik = "Produkty_"+number+"__B_onnik";

        var ilosc = document.getElementById(id_ilosc).value;
        if (ilosc == ""){
        console.log("Jest puste")
        return;
        }
        console.log("Nie Jest puste")
        
        var kalorycznosc  = document.getElementById(id_kalorycznosc).value;
        document.getElementById(id_kalorycznosc).value = (parseFloat(ilosc, 10) * parseFloat(kalorycznosc, 10)/100).toFixed(2)
        var bialko = document.getElementById(id_bialko).value;
        document.getElementById(id_bialko).value = (parseFloat(ilosc, 10) * parseFloat(bialko, 10)/100).toFixed(2)
        var tluszcz = document.getElementById(id_tluszcz).value;
        document.getElementById(id_tluszcz).value = (parseFloat(ilosc, 10) * parseFloat(tluszcz, 10)/100).toFixed(2)
        var weglo =  document.getElementById(id_weglo).value;
        document.getElementById(id_weglo).value = (parseFloat(ilosc, 10) * parseFloat(weglo, 10)/100).toFixed(2)
        var blonnik = document.getElementById(id_blonnik).value ;
        document.getElementById(id_blonnik).value = (parseFloat(ilosc, 10) * parseFloat(blonnik, 10)/100).toFixed(2)


            CalcTotals()

        }

        function DeleteItem(btn) {

            var table = document.getElementById('TabelaGlowna');
            var rows = table.getElementsByTagName('tr');

            var btnIdx = btn.id.replaceAll('btnremove-', '');
            console.log(btnIdx)
            var idOfQuantity = "Ilosc_"+btnIdx+"_";

            var txtQuantity = document.getElementById(idOfQuantity).value = 0;

            var idOfIsDeleted = "Produkty_" + btnIdx + "__IsDeleted";
            document.getElementById(idOfIsDeleted).value  = "true"

            $(btn).closest('tr').hide();

            CalcTotals();
        }

        function AddItem(btn) {
            var table;
            table = document.getElementById('TabelaGlowna');
            var rows = table.getElementsByTagName('tr');
            var rowOuterHtml = rows[rows.length - 2].outerHTML;

            var lastrowIdx = rows.length - 3;
            var nextrowIdx = eval(lastrowIdx) + 1;

            rowOuterHtml = rowOuterHtml.replaceAll('_' + lastrowIdx + '_', '_' + nextrowIdx + '_');
            rowOuterHtml = rowOuterHtml.replaceAll('[' + lastrowIdx + ']', '[' + nextrowIdx + ']');
            rowOuterHtml = rowOuterHtml.replaceAll('-' + lastrowIdx, '-' + nextrowIdx);

            var newRow = table.insertRow(nextrowIdx+1);
            newRow.innerHTML = rowOuterHtml;

            var x = document.getElementsByTagName("INPUT");

            for (var cnt = 0; cnt < x.length; cnt++) {
                if (x[cnt].type == "text" && x[cnt].id.indexOf('_' + nextrowIdx + '_') > 0) {
                    if (x[cnt].id.indexOf('Unit') == 0)
                        x[cnt].value = '';
                }
                else if (x[cnt].type == "number" && x[cnt].id.indexOf('_' + nextrowIdx + '_') > 0)
                    x[cnt].value = 0;
            }


        }



        function CalcTotals() {

            var x = document.getElementsByClassName('ilosc_class');

            var ilosc_total = 0;
            var ilosc_kalorie = 0;
            var ilosc_bialko = 0;
            var ilosc_tluszcz = 0;
            var ilosc_weglowodany = 0;
            var ilosc_blonnik = 0;

            var i;

            for (i = 0; i < x.length; i++) {
                var id_ilosc = "Ilosc_" + i + "_"
                var id_kalorycznosc = "Produkty_" + i + "__Kaloryczno__";
                var id_bialko = "Produkty_" + i + "__Bia_ko";
                var id_tluszcz = "Produkty_" + i + "__T_uszcz";
                var id_weglo = "Produkty_" + i + "__W_glowodany";
                var id_blonnik = "Produkty_" + i + "__B_onnik";
                var idOfIsDeleted = "Produkty_" + i + "__IsDeleted";


                var idofIlosc = "#Ilosc_" + i + '_';

                var iloscId = document.querySelector(idofIlosc).id;


                if (document.getElementById(idOfIsDeleted).value != "true") {
                    ilosc_total = parseFloat(ilosc_total, 10) + parseFloat(document.getElementById(id_ilosc).value, 10);
                    ilosc_kalorie = parseFloat(ilosc_kalorie, 10) + parseFloat(document.getElementById(id_kalorycznosc).value, 10);
                    ilosc_bialko = parseFloat(ilosc_bialko, 10) + parseFloat(document.getElementById(id_bialko).value, 10);
                    ilosc_tluszcz = parseFloat(ilosc_tluszcz, 10) + parseFloat(document.getElementById(id_tluszcz).value, 10);
                    ilosc_weglowodany= parseFloat(ilosc_weglowodany, 10) + parseFloat(document.getElementById(id_weglo).value, 10);
                    ilosc_blonnik= parseFloat(ilosc_blonnik, 10) + parseFloat(document.getElementById(id_blonnik).value, 10);             
                }
            }


            document.getElementById('ilosc_total').value = ilosc_total.toFixed(2);
            document.getElementById('kalorycznosc_total').value = ilosc_kalorie.toFixed(2);
            document.getElementById('bialko_total').value = ilosc_bialko.toFixed(2);
            document.getElementById('tluszcz_total').value = ilosc_tluszcz.toFixed(2);
            document.getElementById('weglo_total').value = ilosc_weglowodany.toFixed(2);
            document.getElementById('blonnik_total').value = ilosc_blonnik.toFixed(2);


            return;
        }
    </script>

}