@*@model IEnumerable<projekt.Models.Produkt>*@
@model Tuple<IEnumerable<projekt.Models.Produkt>, IEnumerable<projekt.Models.Dania>>

@{
    ViewData["Title"] = "View";
    
}
<style>
    .container{
        display: flex;
        flex-direction: row;
    }
    .left-div{
        background-color: lightblue;
        width:50%;
        margin-right:2%;
    }

    .right-div {
        background-color: lightcoral;
        width: 50%;
    }



</style>

<div class="container">
    <div class="left-div">
        <table class="table">
            <thead>
                <tr>      
                    
                    <th>
                        Nazwa produktu
                    </th>
                    <th>
                        Kaloryczność
                    </th>
                    <th>
                        Białko
                    </th>
                    <th>
                        Tłuszcz
                    </th>
                    <th>
                        Węglowodany
                    </th>
                    <th>
                        Błonnik
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Item1)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nazwa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Kaloryczność)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Białko)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tłuszcz)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Węglowodany)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Błonnik)
                        </td>
                        <td>
                            <input type="checkbox"  onclick="">
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="right-div" >
        <table class="table">
            <thead>
                <tr>

                    <th>
                        Nazwa dania
                    </th>
                    <th>
                        Kaloryczność
                    </th>
                    <th>
                        Białko
                    </th>
                    <th>
                        Tłuszcz
                    </th>
                    <th>
                        Węglowodany
                    </th>
                    <th>
                        Błonnik
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Item2)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NazwaDania)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            <input type="checkbox" onclick="">
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>



</div>
