@model Tuple<List<List<decimal>>, IEnumerable<projekt.Models.Dania>>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    List<List<decimal>> dania_detale_suma = new List<List<decimal>>();
    dania_detale_suma.AddRange(Model.Item1);

    ViewData["Title"] = "MyMeals";
    ViewBag.Controller = "Meals";
    Pager pager = new Pager();
    int pageNr = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNr = pager.CurrentPage;
    }
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"> @*tutaj sa styl css do ikonek*@
<style>
    .container{
        
        flex-direction: row;
    }
    .left-div{
        background-color: lightblue;
        width:80%;
        margin-right:2%;
    }

</style>

<div class="btn-group">
    <a asp-controller="Home" asp-action="Index">
        <span class="btn btn-sm btn-outline-primary">
            <i class="fa fa-arrow-left"></i>
        </span>
    </a>
    <a asp-action="AddingMeals">
        
            <span class="btn btn-sm btn-outline-primary">
                <i class="fa" style="color: #52b94b;">DODAJ</i>
            </span>
        </a>
    </div>





<div class="container">
   


    <partial name="_pager" model="@pager" />
    <div class="right-div" >  
        
        <table class="table">
            <thead>
                <tr>

                    <th>
                        Nazwa
                    </th>
                    
                    <th>
                        Kaloryczność
                    </th>
                    <th>
                        Białko
                    </th>
                    <th>
                        Tłuszcz
                    </th>
                    <th>
                        Węglowodany
                    </th>
                    <th>
                        Błonnik
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Item2)
                {
                List<decimal> wartosc = new List<decimal>();
                    wartosc.AddRange(dania_detale_suma[0]);
                    dania_detale_suma.RemoveAt(0);


                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NazwaDania)
                        </td>                      
                        <td>
                            @wartosc.ElementAt(0)
                        </td>
                        <td>
                            @wartosc.ElementAt(1)
                        </td>
                        <td>
                            @wartosc.ElementAt(2)
                        </td>
                        <td>
                            @wartosc.ElementAt(3)
                        </td>
                        <td>
                            @wartosc.ElementAt(4)
                        </td>
                        <td>
                            <div class="btn-group">
                                <a asp-action="Edit" asp-route-id="@item.Id">
                                    <span class="btn btn-sm btn-outline-primary">
                                        <i class="fa fa-edit" aria-hidden="true"></i>
                                    </span>
                                </a>
                                <a asp-action="Details" asp-route-id="@item.Id">
                                    <span class="btn btn-sm btn-outline-dark">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </span>
                                </a>
                                @*<a asp-action="MealsController/Delete" asp-route-id="@item.Id">*@
                                <a href="@Url.Action("Delete", new { id = item.Id })">
                                    <span class="btn btn-sm btn-outline-danger">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </span>
                                </a>



                                  @*  @using (Html.BeginForm("Delete","Meals",FormMethod.Post))
                                    {
                                    <a>
                                       <span class="btn btn-sm btn-outline-danger">
                                        <input type="hidden" name="Id" value = "@item.Id"/>
                                        <button type="submit"></button>
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </span> 
                                    </a>
                                    }*@
                                    
                                             
                            </div>
                        </td>
                        
                        
                    </tr>
                }
            </tbody>
        </table>
        
    </div>

    <partial name="_pager" model="@pager" />

</div>
