@*@model IEnumerable<projekt.Models.Produkt>*@
@model Tuple<IEnumerable<projekt.Models.Produkt>, IEnumerable<projekt.Models.Dania>>

@{
    ViewData["Title"] = "MyMeals";
    ViewBag.Controller = "Meals";
    Pager pager = new Pager();
    int pageNr = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNr = pager.CurrentPage;
    }
}
<style>
    .container{
        
        flex-direction: row;
    }
    .left-div{
        background-color: lightblue;
        width:50%;
        margin-right:2%;
    }

    .right-div {
        background-color: lightcoral;
        width: 50%;
    }



</style>

<div class="container">
    



   @* @using (Html.BeginForm("AddingMeals", "Meals", FormMethod.Post))
    {
        
        <div>
            
            @Html.TextBoxFor(model => model.Item2, new { id = "txtPlace", Value= "3" })
            <input id="txtPlace" type="submit" value="Dodaj" />
        </div>

        
    }*@

    @using (Html.BeginForm("AddingMeals", "Meals", FormMethod.Post))
    {
        <div>
            <button>Add</button>
        </div>
    }





    @*<input placeholder="Podaj nazwę dania">
    <button type="submit">Dodaj</button>*@
    <div class="left-div">
    </div>
    <div class="right-div" >

        
       

        <table class="table">
            <thead>
                <tr>

                    <th>
                        Nazwa
                    </th>
                    <th>
                        Kaloryczność
                    </th>
                    <th>
                        Białko
                    </th>
                    <th>
                        Tłuszcz
                    </th>
                    <th>
                        Węglowodany
                    </th>
                    <th>
                        Błonnik
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Item2)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NazwaDania)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)  @*Tymczasowo ID*@
                        </td>
                        <td>
                            0 @*Białko*@
                        </td>
                        <td>
                            0 @*Tłuszcz*@
                        </td>
                        <td>
                            0 @*Węglowodany*@
                        </td>
                        <td>
                            0 @*Błonnik*@
                        </td>
                        <td>
                            <a href="@Url.Action("Details","Meals", new { Id = item.Id})">Szczegóły</a>
                        </td>
                        <td>
                            <a>Usuń</a> 
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

    <partial name="_pager" model="@pager" />

</div>
