@model IEnumerable<projekt.Models.Produkt>

@{
    ViewData["Title"] = "Products";

    Pager pager =new Pager();
    int pageNr = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNr = pager.CurrentPage;
    }

}

<div class="container">

    <partial name="_pager" model="@pager" />
    <div class="left-div">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nazwa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Kaloryczność)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Białko)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tłuszcz)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Węglowodany)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Błonnik)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nazwa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Kaloryczność)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Białko)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tłuszcz)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Węglowodany)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Błonnik)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <partial name="_pager" model="@pager" />
   
</div>
